.container
  .jumbotron.narrow
    %h1 Welcome to Blocmetrics
    %p Blocmetrics is a get Web Analytics Tracking Tool that will tell you how people use your size
    %p.em Easy to use, Reliable, and Quick!
    %p Whate are you waiting for?
    = link_to "Get Started Today", get_started_path, class: "btn btn-primary btn-lg"

